zamboni-vita.tex
zamboni-vita-private.*
zamboni-resume.tex
zamboni-resume-private.tex
src/zamboni-vita.tex
src/zamboni-vita-private.tex
src/zamboni-resume.tex
src/zamboni-resume-private.tex
zamboni-resume-private.pdf
build/zamboni-vita-private
*.dvi
*.log
*.out
*_latexmk
*.aux
*.bbl
*.blg
*~
allvita
vitabib
vitabib.html
TMP
auto
*.tmp
*.4ct
*.4tc
*.idv
*.lg
*.xref
*.fls
*.xdv
*.bcf
*.run.xml
.DS_Store
.auctex-auto
